* {
    font-family: Roboto;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 18px;

}

nav img {
    color: #E5E7EB;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;

}

header {
    display: flex;
    gap: 10px;
    padding: 100px 200px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

header h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

header p {
    color: #E5E7EB;
}

.left-side {
    flex: 1;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 20px;
    border: none;
    border-radius: 7px;
}

.right-side {
    flex: 1;
    background-color: #E5E7EB;

}

.right-side img {
    display: block;
    width: 100%;
    height: 100%;
}

.information {
    padding-bottom: 100px;
}

.information h2 {
    text-align: center;
    padding: 20px 0;
}


.information img {
    display: block;
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}


.information ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;

}

.information li {
    flex-grow: 0;
    display: block;
    width: 150px;

    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.information figure {
    margin: 0;
    padding: 0;
}

.quote {
    padding: 100px 250px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote p:nth-of-type(1) {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote p:nth-of-type(2) {
    font-size: 22px;
    font-weight: bold;
    font-style: none;
    color: black;
    text-align: right;
}

.sign-up {
    display: flex;
    margin: 100px 200px;
    background-color:#3882F6;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100px;
    border-radius: 10px;
}

.sign-up button {
    border: 2px solid white;
}

.text p {
    margin: 0;
    padding: 0;
}

.text p:nth-of-type(1) {
    font-size: 25px;
    font-weight: 900;
    color: white;
    margin-bottom: 3px;
}

.text p:nth-of-type(2) {
    font-size: 18px;
    font-weight: 300;
    color: white;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


    background-color: #1F2937;
    padding: 20px 200px;
}
